.weather{
    position: absolute;
    right: 12%;
    top: 5%;      
    width: 40%;    
    display: block;      
}
.time {
    position: absolute;
    left: 12%;
    top: 20%;      
    width: 40%;
    display: block;     
}
.rss {    
    position: absolute;
    right: 15%;
    top: 30%;      
    width: 20%;
    height: 60%;
    display: block;     
}
.body {
    height: 100%;
    overflow-y: hidden;
}