.weather{
    position: absolute;
    left: 20%;
    top: 45%;      
    width: 30%;    
    display: block;      
}
.time {
    position: absolute;
    left: 15%;
    top: 20%;      
    width: 40%;
    display: block;     
}
.rss1 {    
    position: absolute;
    left: 30%;    
    top: 15%;      
    width: 20%;
    height: 60%;
    display: block;    
    overflow-y: auto;
    text-overflow: clip;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.233) rgba(0, 0, 0, 0);
}
.rss1::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.233);
}
.rss1::-webkit-scrollbar {
    width: 5px;
}

.rss2 {    
    position: absolute;
    right: 15%;
    top: 10%;      
    width: 25%;
    height: 65%;
    display: block;    
    overflow-y: auto;
    text-overflow: clip;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.233) rgba(0, 0, 0, 0);
}
.rss2::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.233);
}
.rss2::-webkit-scrollbar {
    width: 5px;
}

.rss_title {
    font-size: small;  
    line-height: 100%;
    color: white;
    text-decoration: none;
}
.rss_text {
    font-size: smaller;
    color: lightgray;
    line-height: 100%;    
}

.rss_time {
    font-size: xx-small;
    color: lightgray;
    line-height: 100%;  
}